/* line 1, ../sass/core/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

/* line 9, ../sass/core/_base.scss */
.clearFix:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/* line 17, ../sass/core/_base.scss */
.clearFix:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

/* line 5, ../sass/core/_reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/core/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 14, ../sass/core/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 19, ../sass/core/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 25, ../sass/core/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 29, ../sass/core/_reset.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: 400;
}

/* line 34, ../sass/core/_reset.scss */
caption, th {
  text-align: left;
}

/* line 38, ../sass/core/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

/* line 43, ../sass/core/_reset.scss */
q:before {
  content: "";
}

/* line 47, ../sass/core/_reset.scss */
q:after {
  content: "";
}

/* line 51, ../sass/core/_reset.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 56, ../sass/core/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 60, ../sass/core/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 64, ../sass/core/_reset.scss */
mark {
  background: none;
}

/* line 68, ../sass/core/_reset.scss */
a, a:hover {
  text-decoration: none;
}

/* line 72, ../sass/core/_reset.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}

/* line 79, ../sass/core/_reset.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 83, ../sass/core/_reset.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #888;
}

/* line 87, ../sass/core/_reset.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #888;
}

/* line 91, ../sass/core/_reset.scss */
input::-o-placeholder, textarea::-o-placeholder {
  color: #888;
}

/* line 95, ../sass/core/_reset.scss */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #888;
}

/* line 99, ../sass/core/_reset.scss */
ul, ol {
  list-style-type: none;
}

/* line 103, ../sass/core/_reset.scss */
html {
  height: 100%;
}

/* line 107, ../sass/core/_reset.scss */
body {
  font-family: poppy-roboto, Roboto-Regular, Helvetica, PingFang SC, Noto Sans SC, Source Han Sans CN, Arial, Hiragino Sans GB, sans-serif;
  background-color: #f5f5f5;
  height: 100%;
}

/* line 114, ../sass/core/_reset.scss */
a, div {
  -webkit-tap-highlight-color: transparent;
}

/* line 118, ../sass/core/_reset.scss */
button {
  border: 0;
  outline: 0;
  background: transparent;
  -webkit-appearance: none;
}

/* line 125, ../sass/core/_reset.scss */
a {
  -webkit-touch-callout: none;
}

/* line 129, ../sass/core/_reset.scss */
li {
  display: block;
}
